#style{
	font-family: "Helvetica";
	float: left;

}
li{
	float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    display: block;
    padding: 8px;
    text-decoration: none;
}

